---
import Footer from '~/components/Footer.astro'
import Menu from '~/components/Menu.astro'
import Layouts from '~/layouts/layouts.astro'
---

<Layouts page="Contacts">
    <Menu />
    <section
        class="opacityelement content flex h-screen flex-col items-center justify-center mix-blend-overlay">
        <span class="clashdisplay-regular text-4xl">
            Contacts Page Coming Soon...
        </span>
    </section>
    <Footer />
</Layouts>
