---
import { Icon } from 'astro-icon'
import Layouts from '~/layouts/layouts.astro'
---

<Layouts page="Home">
    <div class="mt-80 flex select-none flex-col">
        <span class="logotype text-[11rem] capitalize">lorem</span>
        <div>
            <svg
                width="863"
                height="52"
                viewBox="0 0 863 52"
                fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <g>
                    <path
                        d="M37.7676 51.7952C29.541 51.7952 22.6024 51.0946 16.9518 49.6934C11.3843 48.2922 7.1879 46.3155 4.3626 43.7632C1.5373 41.1609 0.124646 38.1083 0.124646 34.6052V34.1548H13.5864V35.3559C13.5864 37.3576 14.3343 39.0341 15.83 40.3853C17.3258 41.6864 19.8187 42.6873 23.3087 43.3879C26.7988 44.0385 31.6185 44.3637 37.7676 44.3637C43.0859 44.3637 47.3238 44.1385 50.4815 43.6882C53.6392 43.1877 55.8828 42.4371 57.2124 41.4362C58.625 40.3853 59.3313 39.0841 59.3313 37.5328C59.3313 35.3309 58.168 33.7295 55.8413 32.7286C53.5146 31.7277 49.7336 30.927 44.4985 30.3265L24.0566 28.2997C19.4032 27.7492 15.2483 26.9485 11.592 25.8976C7.93578 24.7967 5.06893 23.3454 2.9915 21.5438C0.997166 19.6922 0 17.3902 0 14.6378C0 12.8362 0.664777 11.0597 1.99433 9.30812C3.32388 7.5566 5.40131 5.98022 8.22661 4.579C11.0519 3.17777 14.7082 2.07681 19.1954 1.27611C23.7658 0.425371 29.3333 0 35.898 0C44.0415 0 50.7308 0.750655 55.9659 2.25196C61.201 3.75328 65.0651 5.80507 67.558 8.40734C70.134 10.9596 71.422 13.8871 71.422 17.19V17.6404H58.0849V16.6646C58.0849 14.6128 57.337 12.9113 55.8413 11.5601C54.3455 10.1589 51.8942 9.13297 48.4872 8.48241C45.0802 7.78179 40.4683 7.43149 34.6515 7.43149C29.5826 7.43149 25.4693 7.68171 22.3116 8.18214C19.237 8.68258 16.9934 9.43324 15.5807 10.4341C14.1681 11.3849 13.4617 12.636 13.4617 14.1874C13.4617 15.5886 13.9603 16.7396 14.9575 17.6404C15.9546 18.5412 17.4919 19.2668 19.5694 19.8173C21.6468 20.3177 24.3059 20.7932 27.5467 21.2436L47.8639 23.3454C53.4315 23.9459 58.0433 24.8467 61.6996 26.0477C65.439 27.2488 68.2227 28.7751 70.0509 30.6267C71.879 32.4784 72.7931 34.6302 72.7931 37.0824C72.7931 39.6346 71.5882 42.0367 69.1784 44.2887C66.7685 46.5406 62.9876 48.3672 57.8356 49.7685C52.6836 51.1196 45.9943 51.7952 37.7676 51.7952Z"
                        fill="white"></path>
                    <path
                        d="M128.469 51.0446H113.511L150.78 0.750655H169.727L206.996 51.0446H191.789L165.489 15.3884L160.627 8.25721H159.63L154.769 15.3884L128.469 51.0446ZM187.676 37.9832H131.959V30.7018H187.676V37.9832Z"
                        fill="white"></path>
                    <path
                        d="M291.505 35.8813H255.732V28.6H290.259C296.574 28.6 301.311 27.8243 304.469 26.2729C307.709 24.7216 309.33 22.0693 309.33 18.316C309.33 14.6128 307.709 11.9855 304.469 10.4341C301.311 8.83271 296.574 8.03201 290.259 8.03201H255.732V0.750655H291.505C297.738 0.750655 303.181 1.45127 307.834 2.85249C312.57 4.20367 316.227 6.1804 318.803 8.78267C321.462 11.3849 322.791 14.5627 322.791 18.316C322.791 22.0192 321.462 25.172 318.803 27.7743C316.227 30.3765 312.57 32.3783 307.834 33.7795C303.181 35.1807 297.738 35.8813 291.505 35.8813ZM264.083 51.0446H250.622V0.750655H264.083V51.0446Z"
                        fill="white"></path>
                    <path
                        d="M409.115 35.8813H373.342V28.6H407.869C414.184 28.6 418.921 27.8243 422.078 26.2729C425.319 24.7216 426.94 22.0693 426.94 18.316C426.94 14.6128 425.319 11.9855 422.078 10.4341C418.921 8.83271 414.184 8.03201 407.869 8.03201H373.342V0.750655H409.115C415.348 0.750655 420.791 1.45127 425.444 2.85249C430.181 4.20367 433.837 6.1804 436.413 8.78267C439.072 11.3849 440.401 14.5627 440.401 18.316C440.401 22.0192 439.072 25.172 436.413 27.7743C433.837 30.3765 430.181 32.3783 425.444 33.7795C420.791 35.1807 415.348 35.8813 409.115 35.8813ZM381.693 51.0446H368.232V0.750655H381.693V51.0446Z"
                        fill="white"></path>
                    <path
                        d="M561.751 51.0446H548.414V0.750655H561.751V51.0446ZM499.303 51.0446H485.842V0.750655H499.303V51.0446ZM555.02 29.3506H490.204V22.0693H555.02V29.3506Z"
                        fill="white"></path>
                    <path
                        d="M625.191 51.0446H611.729V0.750655H625.191V51.0446Z"
                        fill="white"></path>
                    <path
                        d="M688.512 51.0446H675.05V0.750655H718.427C724.742 0.750655 730.185 1.32616 734.755 2.47716C739.409 3.62817 742.94 5.30463 745.35 7.50655C747.843 9.70848 749.089 12.3858 749.089 15.5386C749.089 18.341 748.092 20.7431 746.098 22.7449C744.187 24.7466 741.361 26.323 737.622 27.474C733.966 28.625 729.52 29.3006 724.285 29.5008V30.0262C727.526 30.5267 730.019 31.3524 731.764 32.5034C733.592 33.6043 735.254 34.9555 736.749 36.5569L750.71 51.0446H735.254L721.917 37.1574C720.67 35.8063 719.299 34.7303 717.803 33.9296C716.391 33.0789 714.604 32.4784 712.444 32.1281C710.283 31.7277 707.416 31.5275 703.843 31.5275H688.512V51.0446ZM688.512 8.03201V25.2971H718.302C723.869 25.2971 728.066 24.6465 730.891 23.3454C733.716 22.0443 735.129 19.8173 735.129 16.6646C735.129 13.6119 733.716 11.41 730.891 10.0588C728.066 8.7076 723.869 8.03201 718.302 8.03201H688.512Z"
                        fill="white"></path>
                    <path
                        d="M809.652 51.0446H796.19V0.750655H809.652V51.0446ZM863 51.0446H800.303V43.7632H863V51.0446ZM861.13 29.3506H800.303V22.1443H861.13V29.3506ZM863 8.03201H800.303V0.750655H863V8.03201Z"
                        fill="white"></path>
                </g>
            </svg>
        </div>
    </div>
    <div
        class="clashdisplay-medium my-3 flex flex-1 justify-between border-y p-4 px-0 uppercase">
        <span>website</span>
        <span>frontend</span>
        <span>ux · ui</span>
        <span class="flex flex-row items-center hoverelement">
            scroll down
            <Icon name="ep:arrow-down" class="ml-2 h-[1.3rem]" />
        </span>
    </div>
    <ol class="satoshi-light max-w-5xl pt-7 text-lg">
        <li class="satoshi-medium text-2xl">Upcoming Updates:</li>
        <li>
            <a href="https://barba.js.org" class="hoverelement">Barba.js</a> animation w/ menu
        </li>
        <li>
            <a href="https://lenis.studiofreights.com" class="hoverelement">Lenis</a> scroll animation
        </li>
        <li>Content in menu (subject to change)</li>
        <li>Contnet to home page</li>
        <li>Now playing/activity Widget</li>
        <li>Polished codebase (somewhat)</li>
        <li>possible blog (low pritority)</li>
        <li>Minor changes</li>
        <li>More info about me</li>
        <li>Mobile support (low priority)</li>
        <li class="satoshi-medium text-2xl">Known Issues:</li>
        <li>menu z-index disables elements from interaction</li>
        <li>menu breaks when spammed enough</li>

    </ol>
</Layouts>

<script></script>
