---
import Layouts from '~/layouts/layouts.astro'
---

<Layouts page="Contacts">
    <div
        class="opacityelement content flex h-screen flex-col items-center justify-center mix-blend-overlay">
        <span class="clashdisplay-regular text-4xl">
            Projects Page Coming Soon...
        </span>
    </div>
</Layouts>
