---
var Year = new Date().getFullYear()
---

<footer
    class="clashdisplay-medium mix-blend-overlay flex w-full justify-between capitalize transition-all">
    <span class="copyright">&copy; {Year} All rights reserved.</span>
    <a href="https://github.com/loremly/loremly.github.io" target="_blank" class="font-medium transition-all hoverelement"
        >Open Source</a
    >
</footer>
