---
var Year = new Date().getFullYear()
---

<footer
    class="clashdisplay-medium flex w-full justify-between pt-4 capitalize transition-all">
    <span class="copyright">&copy; {Year} All rights reserved.</span>
    <a href="/license/" class="font-medium transition-all hover:text-gray-600"
        >license</a
    >
</footer>
