---
import { Icon } from 'astro-icon'
import type { Hyperlink } from '~/types'

const menulinks: Array<Hyperlink> = [
    {
        name: 'Home',
        url: '/',
        target: '_self',
    },
    {
        name: 'projects',
        url: '/projects/',
        target: '_self',
    },
    {
        name: 'contact',
        url: '/contact/',
        target: '_self',
    },
    {
        name: 'github',
        url: 'https://github.com/loremly',
        target: '_blank',
    },
]
---

<div
    class="menuheader flex-col flex w-full items-end justify-between mix-blend-overlay" style="margin-bottom: 0.5px;">
    <div class="flex justify-between items-end w-full">
        <div class="flex items-center">
            <div class="menubtn cursor-pointer mb-1 p-2 pl-0 pb-0 flex flex-col gap-2">
                <span id="line_1"></span>
                <span id="line_2"></span>
            </div>
            <span class="capitalize satoshi-regular keybind text-base hidden">(esc)</span>
        </div>
        <div
            class="clashdisplay-regular flex flex-col text-right capitalize text-sm">
            <span>{import.meta.env.STAGE} Website</span>
        </div>
    </div>
    <div class="menu-backdrop w-full h-[0.5px] mt-3 bg-white">
        <div class="menu-container h-[0.1px] bg-white absolute left-8"></div>
    </div>
</div>
<div class="menu z-10 fixed left-0 top-12 mt-24 mix-blend-overlay">
    <ul class="left-0 flex w-full flex-col">
        {
            menulinks.map((menulinks) => (
                <li class="clashdisplay-regular menuitem pointer-events-none mb-6 flex w-min flex-row capitalize transition-colors text-3xl hoverelement">
                    <a
                        data-no-routing
                        data-barba
                        href={menulinks.url}
                        rel="noopener"
                        class="p-2"
                        target={menulinks.target}>
                        {menulinks.name}
                    </a>
                    <svg
                        class="arrow w-5 fill-current"
                        viewBox="0 0 512 512"
                        xmlns="http://www.w3.org/2000/svg">
                        <path d="M502.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-128-128c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L402.7 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l370.7 0-73.4 73.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l128-128z" />
                    </svg>
                </li>
            ))
        }
        <div class="menuitem mb-4 ml-2 h-[0.5px] w-full bg-white"></div>
        <a
            href="https://github.com/sapphire-organization"
            target="_blank"
            class="menuitem ml-2 flex flex-row items-center rounded-sm bg-white bg-opacity-20 p-6 backdrop-blur-md transition-colors duration-300 hover:bg-opacity-50 hoverelement">
            <div class="flex flex-col">
                <span
                    class="satoshi-medium capitalize text-lg"
                    style="line-height: 1.2;">
                    check out sapphire studios!</span
                >
                <span class="satoshi-medium text-sm"
                    >A work in progress digital studio!</span
                >
            </div>
            <Icon name="iconoir:github" class="ml-10 flex h-12" />
        </a>
    </ul>
</div>
