---
import Gradient from '~/components/Gradient.astro'
import Footer from '~/components/Footer.astro'
import Menu from '~/components/Menu.astro'
import '~/styles/global.css'
export interface Props {
    page: string
    description?: string
}

const { page, description } = Astro.props as Props

const fallbackDescription: string = '// Welcome To My Website //'
const title = 'Lorem'
---

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/x-svg" href="/favicon.svg" />
        <title>{title} // {page}</title>
        <meta name="description" content={description || fallbackDescription} />

        <meta name="theme-color" content="#fff" />

        <meta name="darkreader-lock">

        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:title" content="Lorem Sapphire - Web Developer" />
        <meta
            name="twitter:description"
            content={description || fallbackDescription}
        />

        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://loremly.github.io" />
        <meta property="og:site_name" content="Lorem // Website" />
        <meta property="og:title" content=`${title} // ${page}` />
        <meta
            property="og:description"
            content={description || fallbackDescription}
        />
        <meta property="og:type" content="object" />

        <script src="../animation/barba.js" />
        <script src="../animation/menu.js" />
        <script src="../animation/opacityElement.js" />
        <script src="../animation/arrow.js" />
        <script src="../lib/lenis.js" />
    </head>
    
    <body data-barba="wrapper"
        class="text-white p-8 fixed h-screen w-full bottom-0 overflow-hidden flex flex-col">
        <Gradient />
        <Menu />
        <div data-barba="container" data-barba-namespace="container"
            class="content-container opacityelement flex flex-1 h-full overflow-y-scroll flex-col max-w-none w-full justify-between mix-blend-overlay pb-9 pr-2">
            <slot />
        </div>
        <Footer />
    </body>
</html>